<form action="/pizzas" method="POST"> 

<label for="First-Name">First Name:</label>
<input type="text" id="first-name" name="first_name" type="text"/>

<label for="Last-Name">Last Name:</label>
<input type="text" id="last-name" name="last_name" type="text"/>

<label for="pizza-select">Select your pizza:</label>
  <select id="pizza-select" name="topping">
   <option value="Margherita">Margherita</option>
   <option value="Pepperoni">Pepperoni</option>
  </select>

  <label for="quantity">how many?</label>
  <input type="number" id="quantity" name="quantity">

  <input type="submit" value="Order Pizza">

</form>